<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Assisted_paractice</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
      <servlet>
    <servlet-name>DemoJDBC</servlet-name>
    <servlet-class>DemoJDBC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoJDBC</servlet-name>
    <url-pattern>/init</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>ProductDetails</servlet-name>
    <servlet-class>ProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetails</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ProductDetails</servlet-name>
    <servlet-class>ProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetails</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>DBOperations</servlet-name>
    <servlet-class>DBOperations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBOperations</servlet-name>
    <url-pattern>/dboperations</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>ProductDetails</servlet-name>
    <servlet-class>ProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetails</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>InitHibernate</servlet-name>
    <servlet-class>InitHibernate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitHibernate</servlet-name>
    <url-pattern>/init</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>ListProducts</servlet-name>
    <servlet-class>ListProducts</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductDetails</servlet-name>
    <servlet-class>ProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetails</servlet-name>
    <url-pattern>/details</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ListProducts</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>ListProducts</servlet-name>
    <servlet-class>ListProducts</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>InitHibernate</servlet-name>
    <servlet-class>InitHibernate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitHibernate</servlet-name>
    <url-pattern>/init</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ProductDetails</servlet-name>
    <servlet-class>ProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetails</servlet-name>
    <url-pattern>/details</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>ProductDetails</servlet-name>
    <servlet-class>ProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetails</servlet-name>
    <url-pattern>/details</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ListProducts</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
    
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>